* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: white;
}

/* Text styles */
p {
  line-height: 1.9em;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}
h5 {
  color: black;
  font-weight: 400;
}
