* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Footer */
.footer {
  padding-right: 4.5em;
  padding-top: 2em;
  padding-left: 4.5em;
  padding-bottom: 2em;
}

.footer ul {
  margin-left: 0;
}

@media only screen and (max-width: 576px) {
  .footer {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
  }

  .footer ul {
    margin-left: 0;
    padding-right: 0em;
    padding-left: 0em;
    line-height: 1.5em;
  }
}